## **Combine Dataset**

In [ ]:
import pandas as pd

# Store DF

stores = pd.read_csv('/content/drive/MyDrive/GUVI FINAL PROJRCT/stores_data_set.csv')


# Sales DF

sales  = pd.read_csv('/content/drive/MyDrive/GUVI FINAL PROJRCT/sales_data_set.csv')

# Features DF

features = pd.read_csv('/content/drive/MyDrive/GUVI FINAL PROJRCT/Features_data_set.csv')

### **Combine sales And Feature Dataset**

In [ ]:
sales_1 = sales.loc[:210785]

sales_2 = sales.loc[210786:]

In [ ]:
sales_1

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
210781     22    28  23/04/2010       1004.62      False
210782     22    28  30/04/2010       1011.78      False
210783     22    28  07/05/2010        794.89      False
210784     22    28  14/05/2010        874.47      False
210785     22    28  21/05/2010        862.98      False

[210786 rows x 5 columns]

In [ ]:
sales_2

        Store  Dept        Date  Weekly_Sales  IsHoliday
210786     22    28  28/05/2010        816.01      False
210787     22    28  04/06/2010        677.21      False
210788     22    28  11/06/2010        617.77      False
210789     22    28  18/06/2010        613.89      False
210790     22    28  25/06/2010        563.25      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[210784 rows x 5 columns]

In [ ]:
sales_1.columns,features.columns

(Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object'),
 Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
        'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
        'IsHoliday'],
       dtype='object'))

In [ ]:
df_1 = pd.merge(sales_1,features,on=['Store','Date','IsHoliday'],how='left')

In [ ]:
df_1

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210781,22,28,23/04/2010,1004.62,False,51.04,2.895,NaN,NaN,NaN,NaN,NaN,135.872167,8.348
210782,22,28,30/04/2010,1011.78,False,50.96,2.935,NaN,NaN,NaN,NaN,NaN,135.917083,8.348
210783,22,28,07/05/2010,794.89,False,63.81,2.981,NaN,NaN,NaN,NaN,NaN,135.962000,8.348
210784,22,28,14/05/2010,874.47,False,50.99,2.983,NaN,NaN,NaN,NaN,NaN,136.010394,8.348
210785,22,28,21/05/2010,862.98,False,59.99,2.961,NaN,NaN,NaN,NaN,NaN,136.079652,8.348

In [ ]:
df_2 = pd.merge(sales_2,features,on=['Store','IsHoliday','Date'],how='left')

In [ ]:
df_2

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,22,28,28/05/2010,816.01,False,65.64,2.906,NaN,NaN,NaN,NaN,NaN,136.148910,8.348
1,22,28,04/06/2010,677.21,False,69.49,2.857,NaN,NaN,NaN,NaN,NaN,136.218168,8.348
2,22,28,11/06/2010,617.77,False,65.01,2.830,NaN,NaN,NaN,NaN,NaN,136.287426,8.348
3,22,28,18/06/2010,613.89,False,67.13,2.805,NaN,NaN,NaN,NaN,NaN,136.324339,8.348
4,22,28,25/06/2010,563.25,False,74.37,2.810,NaN,NaN,NaN,NaN,NaN,136.348314,8.348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210779,45,98,28/09/2012,508.37,False,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
210780,45,98,05/10/2012,628.10,False,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
210781,45,98,12/10/2012,1061.02,False,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
210782,45,98,19/10/2012,760.01,False,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
210783,45,98,26/10/2012,1076.80,False,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [ ]:
df_1.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [ ]:
df_2.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,22,28,28/05/2010,816.01,False,65.64,2.906,NaN,NaN,NaN,NaN,NaN,136.148910,8.348
1,22,28,04/06/2010,677.21,False,69.49,2.857,NaN,NaN,NaN,NaN,NaN,136.218168,8.348
2,22,28,11/06/2010,617.77,False,65.01,2.830,NaN,NaN,NaN,NaN,NaN,136.287426,8.348
3,22,28,18/06/2010,613.89,False,67.13,2.805,NaN,NaN,NaN,NaN,NaN,136.324339,8.348
4,22,28,25/06/2010,563.25,False,74.37,2.810,NaN,NaN,NaN,NaN,NaN,136.348314,8.348

In [ ]:
df = pd.concat([df_1,df_2],ignore_index=True)

In [ ]:
df

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,28/09/2012,508.37,False,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,45,98,05/10/2012,628.10,False,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,45,98,12/10/2012,1061.02,False,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,45,98,19/10/2012,760.01,False,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,45,98,26/10/2012,1076.80,False,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [ ]:
df_new = df.copy()

In [ ]:
df_new['date'] = pd.to_datetime(df_new['Date'],format='%d/%m/%Y')

In [ ]:
df_new.dtypes

Store                    int64
Dept                     int64
Date                    object
Weekly_Sales           float64
IsHoliday                 bool
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
date            datetime64[ns]
dtype: object

### **Non presented dates From 2012 to 2013 years**

In [ ]:
missing_dates = features[~features['Date'].isin(df_new['Date'])].reset_index(drop=True)

In [ ]:
missing_dates

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,02/11/2012,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False
1,1,09/11/2012,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False
2,1,16/11/2012,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False
3,1,23/11/2012,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True
4,1,30/11/2012,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1750,45,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
1751,45,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
1752,45,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
1753,45,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
1754,45,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [ ]:
missing_dates['date'] = pd.to_datetime(missing_dates['Date'],format='%d/%m/%Y')

In [ ]:
df_new_1 = df_new[['Store', 'Dept']]

In [ ]:
df_new_1 = df_new_1.drop_duplicates().reset_index(drop=True)

In [ ]:
df_new_1

      Store  Dept
0         1     1
1         1     2
2         1     3
3         1     4
4         1     5
...     ...   ...
3326     45    94
3327     45    95
3328     45    96
3329     45    97
3330     45    98

[3331 rows x 2 columns]

In [ ]:
df_new_1.Store.nunique()

45

In [ ]:
df_new_1.Dept.nunique()

81

In [ ]:
df_new_2 = pd.merge(df_new_1,missing_dates,on=['Store'],how='outer')

In [ ]:
df_new_2

,Store,Dept,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,date
0,1,1,02/11/2012,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,False,2012-11-02
1,1,1,09/11/2012,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,False,2012-11-09
2,1,1,16/11/2012,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,False,2012-11-16
3,1,1,23/11/2012,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,True,2012-11-23
4,1,1,30/11/2012,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,False,2012-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129904,45,98,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False,2013-06-28
129905,45,98,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False,2013-07-05
129906,45,98,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False,2013-07-12
129907,45,98,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False,2013-07-19
129908,45,98,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False,2013-07-26

In [ ]:
df_new_2.drop('date',axis=1,inplace=True)

In [ ]:
df.shape,df_new_2.shape

((421570, 14), (129909, 13))

In [ ]:
df.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Temperature',
       'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4',
       'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [ ]:
df_new_2.columns

Index(['Store', 'Dept', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1',
       'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment', 'IsHoliday'],
      dtype='object')

In [ ]:
csv = pd.concat([df,df_new_2],ignore_index=True)

csv.shape

(551479, 14)

In [ ]:
csv

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551474,45,98,28/06/2013,NaN,False,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN
551475,45,98,05/07/2013,NaN,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN
551476,45,98,12/07/2013,NaN,False,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN
551477,45,98,19/07/2013,NaN,False,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN
551478,45,98,26/07/2013,NaN,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN

In [ ]:
csv['Date'] = pd.to_datetime(csv['Date'],format='%d/%m/%Y')

csv['Day'] = pd.to_datetime(csv['Date'],format='%d/%m/%Y').dt.day

csv['Month'] = pd.to_datetime(csv['Date'],format='%d/%m/%Y').dt.month

csv['Year'] = pd.to_datetime(csv['Date'],format='%d%m%/%Y').dt.year

In [ ]:
csv

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Day,Month,Year
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,5,2,2010
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,12,2,2010
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,19,2,2010
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,26,2,2010
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,5,3,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551474,45,98,2013-06-28,NaN,False,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,28,6,2013
551475,45,98,2013-07-05,NaN,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,5,7,2013
551476,45,98,2013-07-12,NaN,False,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,12,7,2013
551477,45,98,2013-07-19,NaN,False,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,19,7,2013
551478,45,98,2013-07-26,NaN,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,26,7,2013

### **Combine Final Csv and Store**

In [ ]:
stores

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [ ]:
df = pd.merge(csv,stores,on=['Store'],how='left')

df

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Day,Month,Year,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,5,2,2010,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,12,2,2010,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,19,2,2010,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,26,2,2010,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,5,3,2010,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551474,45,98,2013-06-28,NaN,False,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,28,6,2013,B,118221
551475,45,98,2013-07-05,NaN,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,5,7,2013,B,118221
551476,45,98,2013-07-12,NaN,False,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,12,7,2013,B,118221
551477,45,98,2013-07-19,NaN,False,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,19,7,2013,B,118221
551478,45,98,2013-07-26,NaN,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,26,7,2013,B,118221

In [ ]:
df['IsHoliday'] = df['IsHoliday'].map({False:0,True:1})

df['Type'] = df['Type'].map({'A':1,'B':2,'C':3})

In [ ]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Day,Month,Year,Type,Size
0,1,1,2010-02-05,24924.50,0,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,5,2,2010,1,151315
1,1,1,2010-02-12,46039.49,1,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,12,2,2010,1,151315
2,1,1,2010-02-19,41595.55,0,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,19,2,2010,1,151315
3,1,1,2010-02-26,19403.54,0,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,26,2,2010,1,151315
4,1,1,2010-03-05,21827.90,0,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,5,3,2010,1,151315

In [ ]:
df = df.sort_values(by=['Date','Store']).reset_index(drop=True)  # Sort df if u want

In [ ]:
df.to_csv('Combined_Datasets.csv',index=False)



```
                                                                                                        Finished
```